<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <p>I am a navbar</p>
                </div>
            </div>
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>